body{
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    background-color: #ffffff;
}

.nav-item{
    margin-right: 25px;
    font-weight: 700;
    font-size: 20px;
}

.nav-link{
    font-size: 20px;
    font-weight: 700;
}


/* Carousel */
.carousel h1{
    font-weight: 700;
    font-size: 50px;
}
.carousel p, .footer p{
    font-weight: 400;
    font-size: 15px;
}

/* Benefit */
.benefit{
    background-color: #f9f9f9;
    height: 310px;
}
.benefit h4{
    font-weight: 700;
    color: #E5386D;
}
.benefit p{
    font-weight: 400;
    font-size: 15px;
}

/* Teach */
.teach h4,h2{
    font-weight: 700;
    color: #222222;
}
.teach p{
    font-weight: 400;
    color: #222222;
    font-size: 10px;
}

.figure, .fasilitas{
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.figure-img{
    position: relative;
}
.figure-img a{
    position: absolute;
    top: 0;
    left: 39px;
    right: 39px;
    bottom: 8px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3;
}
.figure-img:hover a{
    opacity: 1;
}

.footer{
    height: 400px;
    background-color: #53D0EC;
    color: #ffffff;
}
.footer h2{
    color: #ffffff;
    font-weight: 700;
}

.header{
    background-color: #FDEA42;
    height: 500px;
}
.header h1{
    font-weight: 700;
    font-size: 50px;
    font-family: 'Montserrat';
}
.header p{
    font-weight: 300;
    font-size: 20px;
    font-family: 'Poppins';
}

.fasilitas h4, .material h2{
    /* font-size: 25px; */
    font-weight: 700;
}
.fasilitas p{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight:400;
}
.about p{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight:500;
}
.buy{
    font-family: 'Poppins';
    font-weight: 700;
    background-color: #F9F9F9;
}
.mentor{
    background-color: #f9f9f9;
    height: 350px;
}
.material h2{
    font-family: 'Poppins';
    font-weight: 700;
}
